/* this section is home page */
/* #48BAF0 is old background colour */
#navbar {
  background-image: none;
  background-color: #8FC1E3;
}

#title {
  color: white;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

#navbarDropdownMenuLink {
  color: rgb(255, 255, 255);
}

#sub-head {
  width: 100%;
	height: 140px;
  background-color: #8FC1E3;
}

#filler {
  width:100%;
  height: 20px;
  background-color: white;
}

#sub-head h6 {
  font-weight: bold;
	text-align: center;
	color: #FFF;
	font-size: 40px;
  font-family: "arial";
  padding-top: 45px;
}

.bottom-arrow:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid #8FC1E3;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

#sub-head h7 {
  font-weight: bold;
	color: #FFF;
	font-size: 40px;
  font-family: "arial";
  display: table;
  margin: 0 auto;
  padding-top: 45px;
}

#instagram-feed {
  width: 100%;
	height: 100px;
  background-color: #8FC1E3;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
	color: #FFF;
	font-size:30px;
  padding-top: 31px;
}

#instagram-feed2 {
  width: 100%;
	height: 50px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
	color: #FFF;
	font-size:30px;
  padding-top: 31px;
}

#card-deck {
  margin-top: 7em;
  margin-left: 3em;
  margin-right: 3em;
  flex-direction: row;
  margin-bottom: 7em;
}

#button {
  display: block;
  max-width: 300px;
  margin: auto;
}

#card-deck img {
  height: 50%;
  margin-top: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#card-deck2 {
  margin-top: 7em;
  margin-left: 3em;
  margin-right: 3em;
  flex-direction: row;
  margin-bottom: 7em;
}

#card-deck2 img {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}
/*""*/

/* this section is our aim page */
#ouraim_img,
#ouraimbanner {
  width:100%;
  height:100%;
}
#ouraimbanner {
  margin-bottom: 3em;
}

#storyhead {
  text-align: center;
  font-size: 40px;
  margin-bottom: 3em;
  color:
}
#storyhead h7{
  text-align: center;
  font-size: 40px;
  margin-bottom: 3em;
  font-weight:bold;
  color: #696969;
}

#storyhead p {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  color: #000000;
}

#card-deck-ouraim {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  flex-direction: row;
  text-align: center;
  margin-bottom: 4em;
}

#card-deck-ouraim img {
  height: 30%;
  width: 30%;
  margin-top: 0.5em;
  margin-right: auto;
  margin-left: auto;
}
/*""*/

/* this section is the footer for all pages */
.footer {
  padding: 30px 0;
  background: #8FC1E3;
  font-size: 15px;
  color: #fff;
  text-align: center;
  direction: rtl;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
}

.footer a {
  color: black;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.footer a:hover,
.footer a:focus {
  color: #fff;
}

.footer__nav,
.footer__copy,
.footer__author {
  display: inline-block;
}

.footer__content {
  display: inline-block;
  background-color: #8FC1E3;
  padding: 10px 20px;
}

.footer__nav,
.footer__content {
  direction: ltr;
}

.footer__copy,
.footer__author {
  margin: 0;
}

.footer__nav ul {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

.footer__nav ul li {
  display: inline-block;
  padding: 0 10px;
}
/*""*/

/* this section is meet the team */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
    text-align: center;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    width: 100%;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: black !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
}

.frontside .card .card-body img {
    width: 150px;
    height: 150px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50%;
}

#anita-card {
  display: block;
  margin-left: auto;
  margin-right: auto
}
/*""*/

/* This section of for bmat service */
#bmat-header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #696969;
  margin-top: 1em;
}

#bmat-header2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #696969;
  padding-top: 70px;
}

#bmat-header3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #696969;
  margin-top: 2em;
}

#bmat-cards {
  display: inline-flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 1em;
}

#bmat-card {
  display: inline-flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 5em;
}

#bmat-deck {
  flex-direction: row;
  background: #f7f9fb;
  padding: 50px 80px 80px 80px;
}

#button {
  display: block;
  max-width: 300px;
  margin: auto;
}

#bmat-deck img {
  height: 50%;
  margin-top: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#picture-deck {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
/*""*/

/* This section is for personal statement */
#personalstatement-header2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #696969;
  padding-bottom: 30px;
}

#personalstatement-card {
  margin: 0 auto;
  float: none;
  padding-bottom: 10px;
}

#personalstatement-card img {
  height: 50%;
  margin-top: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#filler2 {
  width:100%;
  height: 20px;
  background-color: #f7f9fb;
}
/*""*/

/* This section is for reviews */
#stats_cards {
  margin-top: 3em;
  margin-bottom: 3em;
}

#stats_cards h4 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

#stats_cards p {
  text-align: center;
}

#stats_cards img {
  height: 50%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#reviews-header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #696969;
  margin-top: 1em;
}

#review_card {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}

hr {
  border-top: 1px;
}
/*""*/

/* This section is for FAQs */
#faq-card-deck {
  text-align: center;
}

#faq-card-deck img {
  height: 50%;
  margin-top: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 1em;
}

#faq-card-deck h4 {
  margin-top: 1em;
  font-weight: bold;
}

#faq-head {
  text-align: center;
  margin-top: 3em;
}

#faq-head p {
  font-size: 30px;
}
/*""*/

/* This section is for societies */
#faqs-head {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 91%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 4em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 91%;
  margin-left: 4em;
  margin-top: 1em;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
