#navbar-blue {
  background-image: none;
  background-color: #89CFF0;
}
#tiitle {
  color: white;
  padding-right: 850px;
}
#navbarDropdownMenuLink {
  color: white;
}
#sub-head {
  width: 100%;
	height: 100px;
  background-color: #89CFF0;
}
#sub-head h6 {
  font-weight: bold;
	text-align: center;
	color: #FFF;
	font-size:30px;
  padding-top: 31px;
}
.card-deck {
  height: 30px;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 10px;
}
